[Unit]
Description=Initializes pacman keyring

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux
ExecStart=/usr/bin/pacman-key --populate ihuos

[Install]
WantedBy=multi-user.target
